<div class="nav-bar">
  <div class="logo">
    <i class="fa-solid fa-clipboard"></i>
    <span class="logo-text">Big<strong>Dashboard</strong></span>
  </div>
    <ul>
      <li> <a routerLink="/projetos"> <i class="fa-solid fa-list-check"></i>  Painel</a></li>
      <li><a routerLink="/projetos"> <i class="fa-regular fa-chart-bar"></i> Projetos</a></li>
      <li><a routerLink="/leads"> <i class="fa-solid fa-pencil"></i>  Leads</a></li>
      <li><a routerLink="/campanhas"><i class="fa-solid fa-laptop-code"></i>  Campanhas</a></li>
      <li><a routerLink="/notificacoes"><i class="fa-solid fa-bell"></i>  Notificações</a></li>
    </ul>
    <div class="login" (click)="LogoutButton()">
      <i class="fa-solid fa-user-ninja logo"></i>
      <a class="login-text">Teste</a>
      <span class="login-email">teste@teste.com.br</span>
      <button *ngIf="showLogoutButton" (click)="logout()">Sair</button>
    </div>
  </div>





  